.largePlayButton{
    width: 100%;
    text-align:center;
    vertical-align:center;
    position:absolute;
}

.controllButtonRight{
    float:right;
}

.controllButtonLeft{
    float:left;
}

.seekbar{
    height : 20px;
    zIndex : 100;
    background-color : #888888;
    position : absolute;
    opacity : 0.5;
}

