.largePlayButton{
    width: 100%;
    text-align:center;
    vertical-align:center;
    position:absolute;
}

.controllButtonRight{
    float:right;
}

.controllButtonLeft{
    float:left;
}

.seekBar{
    height : 5px;
    z-index : 100;
    background-color : #888888;
    position : absolute;
    opacity : 0.5;
}

.bar{
    background: none;
    background: url(../image/background.png);
    background: rgba(217, 217, 217, 0.7) !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(217,217,217,0.7)), to(rgba(217,217,217,0.7)))!important;
    background: -webkit-linear-gradient(top, rgba(217,217,217,0.7), rgba(217,217,217,0.7)) !important;
    background: -moz-linear-gradient(top, rgba(217,217,217,0.7), rgba(217,217,217,0.7)) !important;
    background: -o-linear-gradient(top, rgba(217,217,217,0.7), rgba(217,217,217,0.7)) !important;
    background: -ms-linear-gradient(top, rgba(217,217,217,0.7), rgba(217,217,217,0.7)) !important;
    background: linear-gradient(rgba(217,217,217,0.7), rgba(217,217,217,0.7)) !important;
}

.volumeArea {
    display : none;
    visible : hidden;
    position: absolute;
    left: 0;
    top: 11px;
    width: 24px;
    height: 120px;
    margin: 0;
    padding: 0;
    font-size: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #333;
    background: rgba(50,50,50,0.8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30,30,30,0.8)), to(rgba(60,60,60,0.8)));
    background: -webkit-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8)); 
    background: -moz-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
    background: -o-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
    background: -ms-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
    background: linear-gradient(rgba(30,30,30,0.8), rgba(60,60,60,0.8));
}

.volumeSlider {
    height: 5px;
    width: 20px;
    position: relative;
    left: 2px;
    top: 10px;
    margin: 0;
    padding: 0;
    font-size: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    cursor: N-resize;
    border-radius: 2px;
    background: #fff;
    background: rgba(255,255,255,0.8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.9)), to(rgba(200,200,200,0.8)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
    background: -moz-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8)); 
    background: -o-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
    background: -ms-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
    background: linear-gradient(rgba(255,255,255,0.9), rgba(200,200,200,0.8));
}

.volumeBarTotal{
    position: absolute;
    left: 11px;
    top: 8px;
    width: 2px;
    background: #ddd;
    background: rgba(255, 255, 255, 0.5);
    margin: 0;
}
.volumeBarCurrent{
    position: absolute;
    left: 11px;
    top: 8px;
    width: 2px;
    background: #ddd;
    background: rgba(255, 255, 255, 0.9);
    margin: 0;
}

.titleBarString{
    font-size      : "11pt";
    padding-left   : "5px";
    padding-right  : "5px";
    text-align     : "center";

}
